# Database
DATABASE_URL=postgres://postgres:postgres@localhost:5437/sayless?sslmode=disable

# Spotify API
SPOTIFY_CLIENT_ID=your_client_id_here
SPOTIFY_CLIENT_SECRET=your_client_secret_here

# Server
PORT=8086
